module.exports = {
  googleClientID: 'string',
  googleClientSecret: 'string',
  mongoURI: 'mongodb://<host>:<port>/<db-name>',
  cookiesKey: 'string',
  stripePublishableKey: 'string',
  stripeSecretKey: 'string',
  sendGridKey: 'string',
  redirectDomain: 'string',
}